<div class="comment-depth-{{comment.depth}}" id="{{comment.id}}">
    <threadlines [depth]="comment.depth" [previousParentIds]="parentIds" [currentId]="comment.id"></threadlines>
    <comment-content [comment]="comment"></comment-content>
</div>
<div *ngFor="let reply of comment.replies">
    <comment [previousParentIds]="parentIds" [comment]="reply"></comment>
</div>
<div *ngIf="!isRepliesLoaded">
    <div class="comment-more-replies-depth-{{comment.depth}}" *ngIf="comment.numOfHiddenReplies > 0 || comment.mustContinueInNewThread">
        <threadlines [previousParentIds]="parentIds" [includeNewThread]="false"></threadlines>
        <more-replies [comment]="comment" (repliesLoadedEvent)="repliesLoaded($event)"></more-replies>
    </div>
</div>
