/* #region Comment Area (Threads + Content) or (Threads + More Replies) */

/* Uses "depth" to determine padding to give "threads" */
.comment-depth-0,
.comment-depth-1,
.comment-depth-2,
.comment-depth-3,
.comment-depth-4,
.comment-depth-5,
.comment-depth-6,
.comment-more-replies-depth-0,
.comment-more-replies-depth-1,
.comment-more-replies-depth-2,
.comment-more-replies-depth-3,
.comment-more-replies-depth-4,
.comment-more-replies-depth-5,
.comment-more-replies-depth-6 
{
    box-sizing: border-box;
    padding-left: 24px;
    position: relative;
    width: 100%;
    overflow: visible;
}
.comment-depth-1 {
    padding-left: 44px;
}
.comment-depth-2 {
    padding-left: 68px;
}
.comment-depth-3 {
    padding-left: 88px;
}
.comment-depth-4 {
    padding-left: 108px;
}
.comment-depth-5 {
    padding-left: 128px;
}
.comment-depth-6 {
    padding-left: 148px;
}
.comment-more-replies-depth-0 {
    padding-left: 22px;
}
.comment-more-replies-depth-1 {
    padding-left: 42px;
}
.comment-more-replies-depth-2 {
    padding-left: 66px;
}
.comment-more-replies-depth-3 {
    padding-left: 86px;
}
.comment-more-replies-depth-4 {
    padding-left: 106px;
}
.comment-more-replies-depth-5 {
    padding-left: 126px;
}
.comment-more-replies-depth-6 {
    padding-left: 146px;
}

/* #endregion */
