@import './src/assets/scss/_variables.scss';

@for $i from 0 through ($maxDepth - 1) {
    $commentPaddingLeft: ($i + 1)*($threadWidth + $threadMarginLeft);

    .#{comment-depth}-#{$i}
    {
        padding-left: $commentPaddingLeft;
        box-sizing: border-box;
        position: relative;
        width: 100%;
        overflow: visible;
    }

    .#{comment-more-replies-depth}-#{$i}
    {
        padding-left: $commentPaddingLeft - 2px;
        box-sizing: border-box;
        position: relative;
        width: 100%;
        overflow: visible;
    }
    
    .#{comment-reply-box} {
        margin-left: $commentContentMarginLeft;
    }
}
