button {
    background: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: initial;
}

/* #region Comment Area (Threads + Content) or (Threads + More Replies) */

/* Uses "depth" to determine padding to give "threads" */
.comment,
.comment-depth-1,
.comment-depth-2,
.comment-more-replies,
.comment-more-replies-depth-1 {
    box-sizing: border-box;
    padding-left: 24px;
    position: relative;
    width: 100%;
    overflow: visible;
}
.comment-depth-1 {
    /* calculated from 'comment class' based on depth (e.g. here is 2 x base padding-left) */
    padding-left: 48px;
}
.comment-depth-2 {
    /* calculated from 'comment class' based on depth (e.g. here is 3 x base padding-left) */
    padding-left: 72px;
}
.comment-more-replies {
    /* calculated from 'comment class' based on depth (e.g. here is 3px over from base) */
    padding-left: 21px;
}
.comment-more-replies-depth-1 {
    /* calculated from 'comment class' based on depth (e.g. here is 2 x original per depth) */
    padding-left: 42px;
}

/* #endregion */

/* #region Comment Threads */

/* position threads group to top left of Comment Area */
.comment-threads-group {
    bottom: 0px;
    left: 0px;
    position: absolute;
    top: 0px;
    z-index: 2;
}

/* for each depth, we will have a comment-thread div with another class with the parent id this div points too */
/* e.g. the div below points to thread 1234 */
/* 
<div class="comment-thread 1234">
    <i class="threadline"></i>
</div>
 */
.comment-thread,
.comment-thread-new {
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    margin-left: 5px;
    width: 16px;
}

/* once we hit the depth of the current thread, we wrap the last 'comment-threads' in a div with comment-threads-current */
/* e.g. the div below points to thread 1234 for first thread, then current thread points to 6789 */
/* 
<div class="comment-thread 1234">
    <i class="threadline"></i>
</div>
<div class="comment-thread-new">
    <div class="comment-thread 6789">
        <i class="threadline"></i>
    </div>
</div> 
*/
.comment-thread-new {
    margin-left: 0px;
    width: 0px;
}

/* creates a threadline */
.threadline {
    display: block;
    height: 100%;
    width: 50%;
    border-right: 2px solid rgb(237, 239, 241);
}
.threadline:hover {
    border-right: 2px solid black;
}

/* we need to limit the threadline size for the current thread to allow room for voting buttons */
/* below allows threadline height to be limited by this div's height (100% - 56px) */
/* e.g. the div below points to thread 1234 for first thread, then current thread points to 6789 */
/* 
<div class="comment-thread 1234">
    <i class="threadline"></i>
</div>
<div class="comment-thread-new">
    <div class="comment-thread 6789 new-threadline-size">
        <i class="threadline"></i>
    </div>
</div> 
*/
.new-threadline-size {
    bottom: 0px;
    height: calc(100% - 56px);
    position: absolute;
}

/* #endregion */

/* #region Comment Content */

/* sizing for the header, body, and footer of comment. padding left and top because comments will be cascading down and to the right */
.comment-content {
    box-sizing: border-box;
    opacity: 1;
    margin-left: 4px;
    padding-left: 4px;
    padding-top: 4px;
    max-width: 800px;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 4px;
}

/* #region Comment Content Votes */

/* positions the comment-vote area over the current threadline */
.comment-votes,
.comment-votes-depth-1,
.comment-votes-depth-2 {
    left: -5px;
    
    position: absolute;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    fill: inherit;
    flex-direction: column;
    min-width: 24px;
    max-height: 40px;
    text-align: center;
    z-index: 3;
    margin: 4px -1px -2px 9px;
}
.comment-votes-depth-1 {
    /* calculated from 'comment-votes class' based on depth (e.g. here is (- (3 x base left)) */
    left: 15px;
}
.comment-votes-depth-2 {
    /* calculated from 'comment-votes class' based on depth (e.g. here is (- (3 x base left)) */
    left: 35px;
}

.comment-vote-btn {
    height: 20px;
}

.comment-vote-icon-up,
.comment-vote-icon-down {
    cursor: pointer;
    color: rgb(135, 138, 140);
    border-radius: 2px;
}
.comment-vote-icon-up:hover {
    color: orangered;
}
.comment-vote-icon-down:hover {
    color: cornflowerblue;
}

/* #endregion */

/* #region Comment Content Header */

/* Create flex-box to contain all header elements */
.comment-header {
    -webkit-box-align: center;
    align-items: center;
    line-height: 16px;
    display: flex;
    margin-left: 0px;
    min-height: 18px;
}

.comment-header-user,
.comment-header-item {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;

    flex: 0 0 auto;
}
.comment-header-user {
    color: rgb(68, 78, 89);
    display: inline-block;
}
.comment-header-item {
    color: rgb(124, 124, 124);
    padding-left: 8px;
}

.comment-header-padding {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

/* #endregion  */

/* #region Comment Content Body */

.comment-body {
    padding: 2px 0;
    width: 100%;
}

/* #endregion */

/* #region Comment Footer */

/* Create flex-box to contain all footer elements */
.comment-footer {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    margin: 4px 0px 8px;
}
.comment-footer-item {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    color: rgb(135, 138, 140);
}
.comment-footer-btn {
    display: inline-block;
    margin-right: 12px;
}
.comment-footer-icon {
    display: inline-block;
    margin-right: 5px;
}

/* #endregion */

/* #region Comment Content More Replies  */

.comment-more-replies-content {
    padding: 8px 0 0;
}
.comment-more-replies-text {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    color: rgb(68, 78, 89);
    cursor: pointer;
    height: 24px;
    margin-left: 4px;
    margin-bottom: 0px;
    margin-top: 5px;
    padding-left: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 4px;
}

/* #endregion */

/* #endregion */
