.main-post {
    padding: 8px 0 0 40px;
    position: relative;
}

.main-post-content { 
    
}

.main-post-content-margin {
    margin: 0px 8px 8px;
}

.main-post-title {
    display: inline;
    color: rgb(26, 26, 27);
    overflow-wrap: break-word;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.main-post-body {
    line-height: 21px;
    color: rgb(28, 28, 28);
    word-break: break-word;
    padding: 5px 8px;
    overflow: auto;
}

.main-post-btns {
    width: 40px;
    border-left: 4px solid transparent;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    left: 0;
    padding: 8px 4px 8px 0;
    position: absolute;
    top: 0;
}

.main-post-score {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}
