<div (scroll)="onWindowScroll($event)">
  <!-- Main Post Sticky Header Content -->
  <div *ngIf="isStickied" class="sticky-header">
    <div class="sticky-header-content">
        <div class="sticky-header-content-buttons">
          <button>
              <div class="comment-btn-icon comment-vote-up">
                  <i class="fa fa-arrow-up"></i>
              </div>
          </button>
          <div class="sticky-header-content-score">
            21K
          </div>
          <button> 
              <div class="comment-btn-icon comment-vote-down">
                  <i class="fa fa-arrow-down"></i>
              </div>
          </button>
        </div>
        <div class="sticky-header-content-title">
          <i class="fa fa-file-text sticky-header-content-title-icon"></i>
          This is the title of this current thread!
        </div>
    </div>
  </div>

  <!-- Main Post Content -->
  <div class="main-post" #mainPost>
    <div class="main-post-content">
      <div class="main-post-content-margin">
        <!-- Main Post Header -->
        <!-- TODO combine this with regular comment header if content does not vary much -->
        <div class="main-post-header">
            <div class="main-post-header-icon">
              <a>
                <i class="fa fa-desktop"></i>
              </a>
            </div>
            <div class="main-post-header-subject">
              <a>
                r/HelloWorld
              </a>
            </div>
            <div class="main-post-header-item">
                &#183;
            </div>
            <div class="main-post-header-item">
                Posted by User
            </div>
            <div class="main-post-header-item">
                &#183;
            </div>
            <div class="main-post-header-item">
                8 hours ago
            </div>
          </div>
      </div>

      <!-- Main Post Title -->
      <div class="main-post-content-margin">
        <h2 class="main-post-title">This is the title of this current thread!</h2>
      </div>

      <!-- Main Post Body -->
      <div class="main-post-body">
        This is the rest of the text for the main post body.
        This is the rest of the text for the main post body.
        This is the rest of the text for the main post body.
        This is the rest of the text for the main post body.
        This is the rest of the text for the main post body.
      </div>

      <!-- Main Post Footer -->
      <div class="main-post-content-margin">
        <div class="comment-footer">
            <button class="comment-footer-item comment-footer-btn">
                <i class="fa fa-comment comment-footer-icon"></i>
                5.8K Comments
            </button>
            <button (click)="onShare($event)" class="comment-footer-item comment-footer-btn">
                <i class="fa fa-share comment-footer-icon"></i>
                Share
            </button>
            <button (click)="onSave($event)" class="comment-footer-item comment-footer-btn">
                <div [hidden]="isSaved">
                    <i class="fa fa-bookmark comment-footer-icon"></i>
                    Save
                </div>
                <div [hidden]="!isSaved">
                    <i class="fa fa-bookmark post-saved comment-footer-icon"></i>
                    Unsave
                </div>
            </button>
            <div class="comment-footer-item comment-footer-btn">
                98% Upvoted
            </div>
        </div>
      </div>
    </div>

    <!-- Main Post Buttons -->
    <div class="main-post-btns">
      <button>
          <div class="comment-btn-icon comment-vote-up">
              <i class="fa fa-arrow-up"></i>
          </div>
      </button>
      <div class="main-post-score">
        21K
      </div>
      <button> 
          <div class="comment-btn-icon comment-vote-down">
              <i class="fa fa-arrow-down"></i>
          </div>
      </button>
    </div>
  </div>
</div>
