@import './src/assets/scss/_variables.scss';

.sticky-header {
    box-sizing: border-box;
    width: $mainBodyWidth;
    position: fixed;
    z-index: 70;
    height: $secondaryHeaderHeight;
    top: $mainHeaderHeight;
    background: rgb(3, 3, 3);

    display: flex;
    align-items: center;
}
.sticky-header-content {
    display: flex;
    align-items: center; 
    color: rgb(215, 218, 220);
}
.sticky-header-content-buttons {
    fill: inherit;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 0px 8px;
    padding: 0px 2px;
}
.sticky-header-content-buttons button {
    width: 24px;
}
.sticky-header-content-buttons:after {
    border-right: 1px solid #343536;
    content: "";
    display: inline-block;
    height: 16px;
    vertical-align: text-bottom;
    width: 0;
    margin: 0 8px;
}
.sticky-header-content-score {
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    text-align: center;
    width: 32px;
    margin: 0px 1px;
}
.sticky-header-content-title-icon {
    color: #818384;
    font-size: 16px;
    margin-right: 8px;
}
.sticky-header-content-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    display: inline-flex;
    min-width: 0;
}

.main-post {
    padding: 8px 0 0 40px;
    position: relative;
}

.main-post-content { 
    padding-left: 5px;
}

.main-post-content-margin {
    margin: 0px 8px 8px;
}

.main-post-title {
    display: inline;
    color: rgb(26, 26, 27);
    overflow-wrap: break-word;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.main-post-body {
    line-height: 21px;
    color: rgb(28, 28, 28);
    word-break: break-word;
    padding: 5px 8px;
    overflow: auto;
    margin-bottom: 16px;
}

.main-post-btns {
    width: 40px;
    border-left: 4px solid transparent;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    left: 0;
    padding: 8px 4px 8px 0;
    position: absolute;
    top: 0;
}

.main-post-score {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}
