<div class="comment-content comment-content-depth-{{comment.depth}} depth-{{comment.depth}}">
    <comment-vote-buttons [hidden]="collapsed" [depth]="comment.depth"></comment-vote-buttons>
    <comment-expand-button [hidden]="!collapsed" [currentId]="comment.id" [depth]="comment.depth"></comment-expand-button>
    <comment-header [isHidden]="collapsed" [author]="comment.author" [points]="comment.points" [createDate]="comment.createDate" [numOfChildrenHidden]="numOfChildrenHidden"></comment-header>
    <comment-body [hidden]="collapsed" [bodyText]="comment.body"></comment-body>
    <comment-footer [hidden]="collapsed" (replyClickedEvent)="replyClicked($event)"></comment-footer>
    <reply-box [hidden]="collapsed"  *ngIf="showReply" [canCancel]="true" (replyCancelledEvent)="replyCancelled($event)" (replySubmittedEvent)="replySubmitted($event)"></reply-box>
</div>
