/* #region Comment Content */

/* sizing for the header, body, and footer of comment. padding left and top because comments will be cascading down and to the right */
.comment-content {
    box-sizing: border-box;
    opacity: 1;
    margin-left: 4px;
    padding-left: 4px;
    padding-top: 4px;
    max-width: 800px;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 4px;
}

/* #endregion */

/* #region Comment Action Buttons */

.comment-btn-depth-0,
.comment-btn-depth-1,
.comment-btn-depth-2,
.comment-btn-depth-3,
.comment-btn-depth-4,
.comment-btn-depth-5,
.comment-btn-depth-6 {
    left: -5px;
    
    position: absolute;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    fill: inherit;
    flex-direction: column;
    min-width: 24px;
    max-height: 40px;
    text-align: center;
    z-index: 3;
    margin: 0 0 0 7px;
}
.comment-btn-depth-1 {
    left: 16px;
}
.comment-btn-depth-2 {
    left: 37px;
}
.comment-btn-depth-3 {
    left: 58px;
}
.comment-btn-depth-4 {
    left: 79px;
}
.comment-btn-depth-5 {
    left: 100px;
}
.comment-btn-depth-6 {
    left: 121px;
}

.comment-btn {
    height: 20px;
}

.comment-btn-icon {
    cursor: pointer;
    color: rgb(135, 138, 140);
    border-radius: 2px;
}
.comment-vote-up:hover {
    color: orangered;
}
.comment-vote-down:hover {
    color: cornflowerblue;
}

/* #endregion */
