<div class="comment-footer">
  <button (click)="showReply = !showReply" class="comment-footer-item comment-footer-btn">
      <i class="fa fa-comment comment-footer-icon"></i>
      Reply
  </button>
  <button class="comment-footer-item comment-footer-btn">
      Share
  </button>
  <button class="comment-footer-item comment-footer-btn">
      Save
  </button>
</div>
<reply-box *ngIf="showReply" [canCancel]="true" (replyCancelledEvent)="replyCancelled($event)" (replySubmittedEvent)="replySubmitted($event)"></reply-box>
