/* #region Comment Footer */

/* Create flex-box to contain all footer elements */
.comment-footer {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    margin: 4px 0px 8px;
}
.comment-footer-item {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    color: rgb(135, 138, 140);
}
.comment-footer-btn {
    display: inline-block;
    margin-right: 12px;
}
.comment-footer-icon {
    display: inline-block;
    margin-right: 5px;
}
button:hover {
    text-decoration: underline;
}

/* #endregion */
