<div class="comment-skeleton-screen">
    <div class="comment-skeleton-screen-content">
        <div class="comment-skeleton-screen-btn" >
          <button>
              <div class="comment-btn-icon">
                  <i class="fa fa-arrow-up"></i>
              </div>
          </button>
          <button> 
              <div class="comment-btn-icon">
                  <i class="fa fa-arrow-down"></i>
              </div>
          </button>
        </div>
        <div class="comment-skeleton-screen-header">
        </div>
        <div class="comment-skeleton-screen-body">
        </div>
        <div class="comment-skeleton-screen-footer">
        </div>
    </div>
</div>
