.comment-threads-group {
    bottom: 0px;
    left: 0px;
    position: absolute;
    top: 0px;
    z-index: 2;
}

.threadline {
    display: block;
    height: 100%;
    width: 50%;
    border-right: 2px solid rgb(237, 239, 241);
}
.threadline-hovered {
    border-right: 2px solid black;
}
