@import './src/assets/scss/_variables.scss';

.comment-threads-group {
    bottom: 0px;
    left: 0px;
    position: absolute;
    top: 0px;
    z-index: 2;
}

.comment-thread,
.comment-thread-new {
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    margin-left: $threadMarginLeft;
    width: $threadWidth;
}

.threadline {
    display: block;
    height: 100%;
    width: 50%;
    border-right: 2px solid rgb(237, 239, 241);
}
.threadline-hovered {
    border-right: 2px solid $primaryColorTint75;
}

$newThreadSpacing: $commentBtnHeight + (0.5 * $commentBtnHeight);
.new-threadline-size {
    bottom: 0px;
    height: calc(100% - #{$newThreadSpacing});
    position: absolute;
}
