@import './src/assets/scss/variables';

.main-feed-container {
    word-break: break-word;
    // width: $mainBodyWidth;
    width: 750px;
    margin: 0 auto;
}
.main-feed-card {
    margin-bottom: 40px;
    background: white;
    border-width: 1px;
    border-style: solid;
    border-color: whitesmoke;
    border-image: initial;
    border-radius: 4px;
}
.main-feed-card:hover {
    cursor: pointer;
    border-color: black;
}
.main-feed-card:focus {
    outline: none;
}
