.thread-main-post { 
    padding: 8px 0 0 30px;
    position: relative;
}

.thread-main-post-reply-box {
    position: relative;
    margin: 24px 40px;
}

.thread-replies-sort { 
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(237, 239, 241);
    margin: 16px 40px 0px;
    padding: 0px 16px 4px 0px;
}

.thread-replies-sort-btn { 
    color: rgb(124, 124, 124);
    font-size: 10px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 12px;
    text-transform: uppercase;
}

.thread-replies { 
    margin: 10px 10px;
    position: relative;
    border-radius: 4px;
    padding: 8px 4px 0px 0px;
}
