<!-- TODO combine this with regular comment header if content does not vary much -->
<div class="main-post-header">
  <div class="main-post-header-icon">
    <a>
      <i class="fa fa-desktop"></i>
    </a>
  </div>
  <div class="main-post-header-subject">
    <a>
      r/HelloWorld
    </a>
  </div>
  <div class="main-post-header-item">
      &#183;
  </div>
  <div class="main-post-header-item">
      Posted by User
  </div>
  <div class="main-post-header-item">
      &#183;
  </div>
  <div class="main-post-header-item">
      8 hours ago
  </div>
</div>
