.comment-more-replies-content {
    padding: 8px 0 0;
}
.comment-more-replies-text {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    color: rgb(68, 78, 89);
    cursor: pointer;
    height: 24px;
    margin-left: 4px;
    margin-bottom: 0px;
    margin-top: 5px;
    padding-left: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 4px;
}
p:hover {
    text-decoration: underline;
}
