<div class="reply-box-container">
    <textarea [(ngModel)]="replyText" (ngModelChange)="textAreaEmpty()" placeholder="What are your thoughts?" class="draft-editor-content"></textarea>
    <div class="reply-box-footer">
      <div>
        <button *ngIf="canCancel" (click)="cancelOnClick()" class="reply-box-cancel-btn">Cancel</button>
        <button *ngIf="isTextAreaEmpty" class="reply-box-submit-btn-disabled">Reply</button>
        <button *ngIf="!isTextAreaEmpty" (click)="replyOnClick()" class="reply-box-submit-btn">Reply</button>
      </div>
    </div>
</div>
