<div class="main-post-skeleton-screen">
  <div class="main-post-skeleton-screen-content">
    <div class="main-post-skeleton-screen-header">
    </div>
    <div class="main-post-skeleton-screen-body">
    </div>
    <div class="main-post-skeleton-screen-footer">
    </div>
  </div>
  <div class="main-post-skeleton-screen-btns">
      <button>
          <div class="comment-btn-icon">
              <i class="fa fa-arrow-up"></i>
          </div>
      </button>
      <div class="main-post-skeleton-screen-score">
      </div>
      <button> 
          <div class="comment-btn-icon">
              <i class="fa fa-arrow-down"></i>
          </div>
      </button>
    </div>
</div>
