<div class="comment-footer">
    <button class="comment-footer-item comment-footer-btn">
        <i class="fa fa-comment comment-footer-icon"></i>
        5.8K Comments
    </button>
    <button class="comment-footer-item comment-footer-btn">
        <i class="fa fa-share comment-footer-icon"></i>
        Share
    </button>
    <button class="comment-footer-item comment-footer-btn">
        <i class="fa fa-bookmark comment-footer-icon"></i>
        Save
    </button>
    <div class="comment-footer-item comment-footer-btn">
        98% Upvoted
    </div>
</div>
