<div class="thread-container">
    <main-post [comment]="mainPost"></main-post>
    <div class="thread-main-post-reply-box">
        <reply-box (replySubmittedEvent)="replySubmitted($event)"></reply-box>
    </div>
    <div class="thread-replies-sort">
        <div class="thread-replies-sort-btn">
            Sort By
        </div>
        <sort-dropdown (change)="onSortChange($event)"></sort-dropdown>
    </div>
    <div class="thread-replies">
        <div *ngFor="let comment of comments">
            <comment [previousParentIds]="[]" [comment]="comment"></comment>
        </div>
    </div>
</div>
