<div class="thread-container" (scroll)="onWindowScroll($event)">
    <div *ngIf="fixed" class="thread-sticky-header">
        <div class="thread-sticky-header-content">
            Title
        </div>
        <div class="thread-sticky-header-actions">
            X
        </div>
    </div>
    <div #mainPost>
        <main-post [comment]="mainPost"></main-post>
    </div>
    <div class="thread-main-post-reply-box">
        <reply-box (replySubmittedEvent)="replySubmitted()"></reply-box>
    </div>
    <div class="thread-replies-sort">
        <div class="thread-replies-sort-btn">
            Sort By
        </div>
        <sort-dropdown (change)="onSortChange($event)"></sort-dropdown>
    </div>
    <div class="thread-replies">
        <div *ngFor="let comment of comments">
            <comment [previousParentIds]="[]" [comment]="comment"></comment>
        </div>
    </div>
</div>
