@import './src/assets/scss/_variables.scss';

.thread-container { 
    word-break: break-word;
    background: white;
    border-width: 1px;
    border-style: solid;
    border-color: whitesmoke;
    border-image: initial;
    border-radius: 4px;
    width: 60%;
    margin: 0 auto;
}

.thread-main-post { 
    padding: 8px 0 0 30px;
    position: relative;
}

.thread-main-post-reply-box {
    position: relative;
    margin: 24px 40px;
}

.thread-replies-sort { 
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(237, 239, 241);
    margin: 16px 40px 0px;
    padding: 0px 16px 4px 0px;
}

.thread-replies-sort-btn { 
    color: rgb(124, 124, 124);
    font-size: 10px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 12px;
    text-transform: uppercase;
}
// Wrap ng-select implementation in our own custom component with custom styling and exposed inputs/outputs
// Too get these styles to apply properly, ViewEncapsulation had to be set to None
.ng-select.sort-dropdown {
    font-size: 12px;
    font-weight: 700;
    color: $primaryColor;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    background-color: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-left: 4px;
    padding: 0 4px 1px;
    width: auto;
}
.ng-select.sort-dropdown .ng-dropdown-panel {
    min-width: 140px;
    border-color: rgb(237, 239, 241);
    border-radius: 4px;
    box-shadow: rgba(28, 28, 28, 0.2) 0px 2px 4px 0px;
}
.ng-select.sort-dropdown .ng-select-container  {
    min-height: 0px;
    border: none;
    color: $primaryColor;
    box-shadow: none;
}
.ng-select.sort-dropdown .ng-option {
    color: $blackTint50;
}
.ng-select.sort-dropdown .ng-option {
    border-style: solid;
    border-color: rgb(237, 239, 241);
}
.ng-select.sort-dropdown .ng-option.ng-option-selected {
    color: $primaryColor;
    background: none;
}
.ng-select.sort-dropdown .ng-option.ng-option-marked {
    background: $primaryColorTint5;
}
// .ng-select.sort-dropdown .ng-select-container .ng-value-container .ng-input>input{
//     outline: 0 !important;
// }
// disable focus

.thread-replies { 
    margin: 10px 10px;
    position: relative;
    border-radius: 4px;
    padding: 8px 4px 0px 0px;
}
