
/* #region Comment Content Votes */

/* positions the comment-vote area over the current threadline */
.comment-votes-depth-0,
.comment-votes-depth-1,
.comment-votes-depth-2 {
    left: -5px;
    
    position: absolute;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    fill: inherit;
    flex-direction: column;
    min-width: 24px;
    max-height: 40px;
    text-align: center;
    z-index: 3;
    margin: 4px -1px -2px 9px;
}
.comment-votes-depth-1 {
    /* calculated from 'comment-votes class' based on depth (e.g. here is (- (3 x base left)) */
    left: 15px;
}
.comment-votes-depth-2 {
    /* calculated from 'comment-votes class' based on depth (e.g. here is (- (3 x base left)) */
    left: 35px;
}

.comment-vote-btn {
    height: 20px;
}

.comment-vote-icon-up,
.comment-vote-icon-down {
    cursor: pointer;
    color: rgb(135, 138, 140);
    border-radius: 2px;
}
.comment-vote-icon-up:hover {
    color: orangered;
}
.comment-vote-icon-down:hover {
    color: cornflowerblue;
}

/* #endregion */
