/* You can add global styles to this file, and also import other style files */
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';

* {
    font-family: 'Roboto', sans-serif;
}

button {
    background: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: initial;
}
.comment-vote-up:hover {
    color: orangered;
}
.comment-vote-down:hover {
    color: cornflowerblue;
}

.hidden {
    display: none !important;
}
