/* You can add global styles to this file, and also import other style files */
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';

// https://ng-select.github.io/ng-select#/data-sources
@import "~@ng-select/ng-select/themes/default.theme.css";

// https://artemsky.github.io/ng-snotify/documentation/
@import "~ng-snotify/styles/simple";
@import "./assets/scss/ng-snotify-overwrites.scss";

* {
    font-family: 'Roboto', sans-serif;
}

html {
    background: #dae0e6;
}
button {
    background: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: initial;
}
.comment-btn-icon {
    cursor: pointer;
    color: rgb(135, 138, 140);
    border-radius: 2px;
}
.comment-vote-up:hover {
    color: orangered;
}
.comment-vote-down:hover {
    color: cornflowerblue;
}
.hidden {
    display: none !important;
}
