@import './src/assets/scss/_variables.scss';

.comment-header {
    -webkit-box-align: center;
    align-items: center;
    line-height: 16px;
    display: flex;
    margin-left: 0px;
    min-height: 18px;
}
a:hover {
    cursor: pointer;
    text-decoration: underline;
}
.comment-header-user,
.comment-header-user-hidden,
.comment-header-item,
.comment-header-item-hidden {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;

    flex: 0 0 auto;
}
.comment-header-user {
    color: $primaryColorTint75;
    display: inline-block;
}
.comment-header-user-hidden { 
    color: $primaryColorTint25;
    display: inline-block;
}
.comment-header-item {
    color: $blackTint50;
    padding-left: 8px;
}
.comment-header-item-hidden {
    color: $blackTint25;
    padding-left: 8px;
}

.comment-header-padding {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}
