<div class="comment-header">
    <div [ngClass]="{ 'comment-header-user': !isHidden, 'comment-header-user-hidden': isHidden }">
        <a>
            user 2
        </a>
    </div>
    <div [ngClass]="{ 'comment-header-item': !isHidden, 'comment-header-item-hidden': isHidden }">
        322 points
    </div>
    <div [ngClass]="{ 'comment-header-item': !isHidden, 'comment-header-item-hidden': isHidden }">
        &#183;
    </div>
    <a [ngClass]="{ 'comment-header-item': !isHidden, 'comment-header-item-hidden': isHidden }">
        1 hour ago
    </a>
    <div *ngIf="isHidden" [ngClass]="{ 'comment-header-item': !isHidden, 'comment-header-item-hidden': isHidden }">
        ({{numOfChildrenHidden}} children)
    </div>
    <div class="comment-header-padding">
    </div>
</div>
