<div class="comment-header">
    <div [ngClass]="{ 'comment-header-user': !isHidden, 'comment-header-user-hidden': isHidden }">
        <a>
            {{author}}
        </a>
    </div>
    <div [ngClass]="{ 'comment-header-item': !isHidden, 'comment-header-item-hidden': isHidden }">
        {{points | numberSuffix : 1 }} points
    </div>
    <div [ngClass]="{ 'comment-header-item': !isHidden, 'comment-header-item-hidden': isHidden }">
        &#183;
    </div>
    <a [ngClass]="{ 'comment-header-item': !isHidden, 'comment-header-item-hidden': isHidden }">
        {{createDate | amTimeAgo }}
        
        <!-- when create_date is converted into create_date_utc -->
        <!-- {{createDate | amFromUtc | amLocal | amTimeAgo }} -->
    </a>
    <div *ngIf="isHidden" [ngClass]="{ 'comment-header-item': !isHidden, 'comment-header-item-hidden': isHidden }">
        ({{numOfChildrenHidden}} children)
    </div>
    <div class="comment-header-padding">
    </div>
</div>
