@import './src/assets/scss/_variables.scss';

:host{
    display: flex;
    flex-direction: column; 
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    padding: 0 20px 0 20px;
    width: 100%;
    height: $mainHeaderHeight;
    z-index: 999;

    background: white;
    border-bottom: 1px solid rgb(237, 239, 241);
}

.spacer{
    width: 100%;
    height: 75px;
}

.body {
    display: flex;
    flex: 1;
    word-break: break-word;
    background: white;
    border-width: 1px;
    border-style: solid;
    border-color: whitesmoke;
    border-image: initial;
    border-radius: 4px;
    width: $mainBodyWidth;
    margin: 0 auto;
}
